@import 'constants';

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: 600;

  &:hover {
    color: $anchor-color;
  }

  &:active {
    color: $anchor-color-active;
  }

  &.disabled {
    color: $anchor-color-disabled;
    cursor: default;
  }
}
