@import 'grid';
@import 'global';
@import 'anchor';
@import 'sprites';
@import 'header';

body {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  *:focus,
  *:active {
    outline: 0;
  }

  .clearfix {
    *zoom: 1;

    &:before,
    &:after {
      display: table;
      content: '';
      line-height: 0;
    }

    &:after {
      clear: both;
    }
  }
}
