@import 'mixins';
@import 'constants';

$placeholder-color: #999;
$placeholder-color-focus: #ccc;
$input-height: 40px;

form {
  .form-error {
    margin-top: 6px;
    color: #cd4545;
    font-size: 0.9em;
  }

  h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
  }

  hr {
    margin: 4px 0 0 0;
  }

  .form-row {
    margin: 32px 0 0 0;

    &:first-child {
      margin-top: 16px;
    }

    &.form-row-submit {
      margin-top: 16px;
    }

    label {
      display: block;
      cursor: pointer;
      font-size: 0.9em;
      font-weight: 600;
    }

    .form-btw {
      margin-top: 6px;
      color: #999;
      font-size: 0.9em;
    }

    input[type=text], input[type=password], .composer {
      display: block;
      width: 100%;
      margin-top: 6px;
      padding: 8px 12px;
      border: 2px solid #ddd;
      @include border-radius(2px);

      @include appearance(none);
      background-color: #fff;

      -webkit-transition-property: border-color;
      -moz-transition-property: border-color;
      -ms-transition-property: border-color;
      -o-transition-property: border-color;
      transition-property: border-color;
      @include transition-duration(0.5s);

      &::-webkit-input-placeholder {
        color: $placeholder-color;
        opacity: 1;
      }

      &:-moz-placeholder {
        color: $placeholder-color;
      }

      &::-moz-placeholder {
        color: $placeholder-color;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $placeholder-color;
      }

      &:focus {
        border: 2px solid $anchor-color;
        outline-style: none;

        &::-webkit-input-placeholder {
          color: $placeholder-color-focus;
          opacity: 1;
        }

        &:-moz-placeholder {
          color: $placeholder-color-focus;
        }

        &::-moz-placeholder {
          color: $placeholder-color-focus;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: $placeholder-color-focus;
        }
      }

      &:disabled, &.disabled {
        background-color: #f4f4f4;
        color: #666;

        &::-webkit-input-placeholder {
          color: #f4f4f4;
          opacity: 1;
        }

        &:-moz-placeholder {
          color: #f4f4f4;
        }

        &::-moz-placeholder {
          color: #f4f4f4;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: #f4f4f4;
        }
      }
    }

    .composer {
      min-height: 42px;
      cursor: text;
      white-space: pre-wrap;

      &:empty {
        &:before {
          content: attr(data-placeholder);
          color: $placeholder-color;
        }

        &:focus:before {
          color: $placeholder-color-focus;
        }
      }
    }

    input[type=submit] {
      display: inline-block;
      vertical-align: middle;
      min-width: 72px;
      font-weight: 400;
      font-size: 0.9em;
      @include border-radius(2px);
      border-style: none;
      padding: 8px 16px;
      cursor: pointer;
      background-color: $anchor-color;
      border-bottom: 3px solid $anchor-color * 0.75;
      color: $anchor-color * 0.1 + #eee;

      &:hover {
        background-color: $anchor-color * 1.1;
        border-bottom: 3px solid $anchor-color * 0.9;
        color: $anchor-color * 0.1 + #eee;
      }

      &:active {
        background-color: $anchor-color-active;
        border-bottom: 3px solid $anchor-color-active * 0.75;
        color: $anchor-color * 0.2 + #aaa;
      }

      &:disabled {
        cursor: default;
        background-color: $anchor-color-active * 0.2 + #999;
        border-bottom: 3px solid $anchor-color-active * 0.2 + #888;
        color: $anchor-color * 0.05 + #ddd;
      }
    }

    input[type=text], input[type=password], input[type=submit] {
      height: $input-height;
      line-height: ($input-height - 16px);
      overflow: hidden;
    }
  }
}

.blue form {
  input[type=text], input[type=password], .composer {
    border-color: #d5e8f2;
    color: #59666c;

    &:disabled, &.disabled {
      background-color: #f3fbff;
      color: #999;

      &::-webkit-input-placeholder {
        color: #f3fbff;
        opacity: 1;
      }

      &:-moz-placeholder {
        color: #f3fbff;
      }

      &::-moz-placeholder {
        color: #f3fbff;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #f3fbff;
      }
    }
  }

  .form-error {
    color: #e86060;
  }

  .form-row .form-btw {
    color: #8ea2ac;
  }
}
