@import 'mixins';

* {
  @include box-sizing(border-box);
  word-wrap: break-word;
}

*:focus,
*:active {
  outline: 0;
}

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
}

.fixed-top {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.vertical-margin {
  margin-bottom: 48px;
  margin-top: 48px;
}

.align-right {
  text-align: right;
}

hr {
  border-style: none;
  border-top: 2px solid #eee;
  margin: 32px 0 0 0;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 0 0 24px 0;
}

p {
  margin: 16px 0 0 0;
}

.user-to-user {
  color: #ccc;
  display: inline-block;
  margin: 0 8px;
}

.big-spinner-container {
  font-size: 10em;
  margin: 64px 0;
  opacity: 0.1;
  text-align: center;
}

.blue {
  background-color: #f3fbff;
  color: #59666c;

  hr {
    border-color: #d9edf7;
  }

  .user-to-user {
    color: #bbb;
  }
}
