body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;

  h2 {
    margin: 64px 0 24px 0;
    font-size: 2em;
    font-weight: 400;
  }

  p {
    margin: 16px 0;
  }
}
