@import 'constants';

$header-height: 56px;

.header-spacer {
  height: $header-height;
}

.header {
  background-color: #3db5ed;
  color: #fff;
  font-size: 0.9em;

  .brand {
    font-size: inherit;
    line-height: $header-height;
    display: block;
    margin: 0;

    a {
      display: block;
      width: 73px;
      margin-left: -20px;

      .sprite {
        &:hover {
          @include sprite-icon-hover;
        }

        &:active {
          @include sprite-icon;
        }

        &, &:hover, &:active {
          display: block;
        }
      }
    }
  }

  .nav {
    text-align: right;
    font-size: 0.9em;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    .nav-spinner {
      display: inline-block;
      margin-left: 24px;
      line-height: $header-height;

      &:first-child {
        margin-left: 0;
      }
    }

    a, .text-button {
      display: inline-block;
      margin-left: 24px;
      line-height: $header-height;
      font-weight: 400;

      &:hover {
        color: #ceefff;
      }

      &:first-child {
        margin-left: 0;
      }

      &.disabled {
        color: #e2e2e2;
      }
    }
  }
}
