$stack-width: 768px; // This should match grid.scss.

.header {
  $header-height: 56px;
  $header-border-height: 1px;
  background-color: #fff;
  border-bottom: $header-border-height solid #e2e2e2;

  .brand {
    font-weight: 600;
    font-size: 1em;
    line-height: $header-height;
    margin: 0;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    .sprite {
      vertical-align: middle;
      position: relative;
      top: -2px;
    }

    a {
      color: inherit;
      text-transform: uppercase;

      &:hover {
        color: #c14141;
      }
    }
  }

  .nav {
    text-align: right;
    font-size: 0.9em;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    a, .text-button {
      display: inline-block;
      margin-left: 24px;
      line-height: $header-height;
      font-weight: 400;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
