@import 'constants';

.header {
  $header-height: 56px;
  background-color: #eee;
  color: #666;
  font-size: 0.9em;

  .brand {
    font-size: inherit;
    line-height: $header-height;
    margin: 0;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    .sprite {
      vertical-align: middle;
      position: relative;
      top: 1px;
    }

    a {
      color: inherit;

      &:hover {
        color: $anchor-color;
      }

      &:active, &:focus {
        color: $anchor-color-active;
      }
    }
  }

  .nav {
    text-align: right;
    font-size: 0.9em;

    @media (max-width: ($stack-width - 1)) {
      text-align: center;
    }

    .nav-spinner {
      display: inline-block;
      margin-left: 24px;
      line-height: $header-height;

      &:first-child {
        margin-left: 0;
      }
    }

    a, .text-button {
      display: inline-block;
      margin-left: 24px;
      line-height: $header-height;
      font-weight: 400;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
