@import 'constants';

.text-button {
  @include disable-text-selection;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $anchor-color;
  }

  &:active, &:focus {
    color: $anchor-color-active;
  }

  &.disabled {
    color: $anchor-color-disabled;
    cursor: default;
  }
}
